---
interface Props {
  color?: string;
  size?: string;
  logoSize?: string; // Add a new prop for logo size
}

const { color = "primary", size = "text-2xl", logoSize = "100px" } = Astro.props; // Default logo size
---

<div class={`font-display font-bold ${size} flex items-center gap-2`}>
  <img src="/logo.png" alt="ALISALUD Logo" class={`text-${color}`} style={`width: ${logoSize}; height: ${logoSize};`} />
</div>